{% extends 'base.html' %}

{% load static %}

{% block content %}
    <body>
    <div id="page-content">
        <div class="container">
            <div class="row">
                <!-- Contact -->
                <div class="col-md-9 col-sm-9">
                    <section id="agent-detail">
                        <header><h1>Contact Us</h1></header>
                        <section id="contact-information">
                            <div class="row">
                                <div class="col-md-4 col-sm-5">
                                    <section id="address">
                                        <header><h3>Address</h3></header>
                                        <address>
                                            <strong>STL Tax Auction Map</strong><br>
                                            St Louis, MO
                                        </address>
                                        <a href="mailto: stltaxauctionmap@gmail.com">stltaxauctionmap@gmail.com</a>
                                    </section><!-- /#address -->
                                    <section id="social">
                                        <header><h3>Social Profiles</h3></header>
                                        <div class="agent-social">
                                            <a href="https://twitter.com/stl_map"
                                               class="fa fa-twitter btn btn-grey-dark" target="_blank"></a>
                                            <a href="https://www.facebook.com/stltaxauctionmap"
                                               class="fa fa-facebook btn btn-grey-dark" target="_blank"></a>
                                        </div>
                                    </section><!-- /#social -->
                                </div><!-- /.col-md-4 -->
                            </div><!-- /.row -->
                        </section><!-- /#agent-info -->
                        <hr class="thick">
                        <section id="form">
                            <header><h3>Send Us a Message</h3></header>
                            <form action="https://formsubmit.co/fdb838d4523376b73022fddb044c68d9" method="POST"
                                  class="clearfix">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Name<em>*</em></label>
                                            <input type="text" class="form-control" name="name" required>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-6 -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Your Email<em>*</em></label>
                                            <input type="email" class="form-control" name="email" required>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-6 -->
                                </div><!-- /.row -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Your Message<em>*</em></label>
                                            <textarea class="form-control" rows="8"
                                                      name="message" required></textarea>
                                        </div><!-- /.form-group -->
                                    </div><!-- /.col-md-12 -->
                                </div><!-- /.row -->
                                <div class="form-group clearfix">
                                    <button type="submit" class="btn pull-right btn-default">Send a Message
                                    </button>
                                </div><!-- /.form-group -->
                            </form><!-- /#form-contact -->
                        </section>
                    </section><!-- /#agent-detail -->
                </div><!-- /.col-md-9 -->
                <!-- end Contact -->
            </div>
        </div>
    </div>
    </body>
{% endblock %}