{% extends 'base.html' %}

{% load static %}

{% block content %}
<body>
<div class="container">
    <div class="col-md-6 col-sm-6">
        <section id="address">
            <header><h2>How to donate to STL Tax Auction Map</h2></header>
                <p>Although this site is free to use, it requires significant resources to operate, including expenses for the domain name, server space, and processing power. If you have found this site beneficial, I kindly request that you consider making a small donation to support its maintenance and improvement. Your contributions will go towards covering the website's operational costs and enhancing its functionality.</p>
        </section><!-- /#address -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-6 col-sm-6">
        <div id="contact-map">
            <<script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="stltaxauction" data-color="#FFDD00" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
            <form action="https://www.paypal.com/donate" method="post" target="_top">
                <br><br>
                <h2>Paypal donations</h2>
                <input type="hidden" name="hosted_button_id" value="7D3W4V54U2JF4" />
                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
            </form>
        </div>
    </div><!-- /.col-md-8 -->
</div>
</body>
{% endblock %}