{% extends 'base.html' %}

{% load static %}

{% block content %}
<body>
    <div id="page-content">
        <!-- Breadcrumb -->
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">FAQ</li>
            </ol>
        </div>
        <!-- end Breadcrumb -->

        <div class="container">
            <div class="row">
                <!-- FAQ -->
                <div class="col-md-9 col-sm-9">
                    <section id="faq">
                        <header><h1>FAQ</h1></header>
                        <article class="faq">
                            <figure class="icon">Q</figure>
                            <div class="wrapper">
                                <header>Suspendisse eleifend massa commodo porta lacus bibendum?</header>
                                <p>Maecenas nec diam sollicitudin, varius velit sit amet, pulvinar nisi. Donec rutrum nisl
                                    vitae tortor interdum, at luctus ligula vulputate. Phasellus sodales leo vel eleifend congue.
                                    Mauris adipiscing quis tortor et pulvinar. Phasellus in consequat felis. Suspendisse venenatis
                                    congue dolor ac imperdiet. Vivamus nibh erat, rutrum quis mi dictum, porta lacinia metus.
                                    Praesent ut dolor neque. Duis quis enim non felis auctor elementum. Praesent lacinia tempor
                                    arcu, in sagittis augue semper sed. Vestibulum augue nulla, facilisis vitae
                                    scelerisque ut, ullamcorper in urna. Integer ut blandit enim.
                                </p>

                            </div>
                        </article>
                        <article class="faq">
                            <figure class="icon">Q</figure>
                            <div class="wrapper">
                                <header>Nullam cursus non mauris vitae ultrices. Ut ut felis dolor?</header>
                                <p>In in commodo ipsum, at blandit neque. Suspendisse sed massa non diam aliquet luctus.
                                    Pellentesque laoreet turpis vel nisi ornare, et luctus nunc condimentum. Curabitur
                                    viverra magna et tortor hendrerit consectetur. Praesent faucibus mauris non vulputate
                                    euismod. Praesent mattis lacus et nibh porttitor tempor. Sed semper in ante ac imperdiet.
                                </p>

                            </div>
                        </article>
                        <article class="faq">
                            <figure class="icon">Q</figure>
                            <div class="wrapper">
                                <header>Etiam dapibus lorem nec accumsan tempus</header>
                                <p>Vivamus tempor dui vitae molestie venenatis. In in consequat turpis, ac interdum urna.
                                    Pellentesque interdum, mauris in pharetra porttitor, dui orci fringilla est, eu rhoncus
                                    risus neque ac felis. Aenean id commodo eros. Praesent egestas neque id nulla varius hendrerit.
                                </p>

                            </div>
                        </article>
                        <article class="faq">
                            <figure class="icon">Q</figure>
                            <div class="wrapper">
                                <header>Duis a convallis ipsum. Cras nec molestie ipsum, quis fermentum augue</header>
                                <p>Donec in eros vitae dolor tempor pharetra. Etiam dictum ligula sit amet lectus euismod,
                                    quis faucibus risus aliquet. Aliquam lorem dolor, vulputate in laoreet quis, suscipit eu
                                    augue. In at bibendum orci. Ut gravida libero vel odio ornare, feugiat imperdiet ipsum
                                    feugiat. Nam non tellus a felis tincidunt posuere dapibus tempor mi. Maecenas est neque,
                                    volutpat eget sollicitudin a, aliquam sed tortor. Nulla sit amet arcu lectus. Vestibulum
                                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
                                    Donec dapibus ullamcorper libero sit amet molestie.
                                </p>

                            </div>
                        </article>
                        <article class="faq">
                            <figure class="icon">Q</figure>
                            <div class="wrapper">
                                <header>Aliquam eget quam iaculis, sodales tellus non, gravida turpis</header>
                                <p>Pellentesque a velit aliquet, sagittis lacus ut, posuere sem. Cras ut sagittis neque,
                                    at eleifend orci. Duis sapien urna, viverra ac vestibulum sit amet, pharetra eu purus.
                                    Fusce elementum iaculis nibh, quis aliquam quam rhoncus varius. In id facilisis felis,
                                    in dictum eros. Integer ac lacus tellus. In mattis neque sit amet semper iaculis.
                                    Aliquam erat volutpat.
                                </p>

                            </div>
                        </article>
                    </section><!-- /#faq -->
                </div><!-- /.col-md-9 -->
                <!-- end FAQ -->
</body>
{% endblock %}